@import 'variables';

#mainpage{
  @include span-columns(12);
  height: 100vh;

  .photo-container{
    @include span-columns(12);
    margin-bottom: 10px;

    .row{
      @include span-columns(12);
      text-align: center;

      a{
        margin-right: 10px;
        height: auto;

        &:last-of-type{
          margin-right: 0;
        }
      }

      .photo{
        height: 225px;
        width: auto;
        border: 10px solid #fff;

        &:hover{
          transition: all 0.35s;
          border-color: $pink-hover;
        }
      }

      &:last-of-type{
        margin-bottom: 10px;
      }
    }
  }
}
