@import "../../dist/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../../dist/bower_components/neat/app/assets/stylesheets/_neat.scss";

@import 'variables';
@import 'homepage';

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

body{
  margin: 0;
}

#app{
  @include outer-container(100%);
  background: $white;

  header{
    @include span-columns(12);

    .logo-container{
      @include span-columns(12);
      padding-top: 30px;

      a{
        @include span-columns(6);
        @include shift(3.1);
        text-align: center;

        .custom-logo{
          height: 100px;
          width: auto;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    hr{
      @include span-columns(5);
      @include shift(3.5)
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }

  footer{
    @include span-columns(12);
    position: fixed;
    bottom: 0;
    background: $white;

    nav{
      @include span-columns(12);

      ul{
        @include span-columns(12);
        text-align: right;
        padding-right: 60px;

        a{
          display:inline-block;
          width:auto;
          float:none;
          text-decoration: none;
          padding: 0px 20px 0px 20px;
          color: $pink;
          font-size: 30px;

          &:hover{
            transition: all 0.35s;
            color: $pink-hover;
          }

          &:first-of-type{
            padding-left: 0;
          }
        }
      }
    }
  }
}
